body{
    scroll-behavior: smooth;
}
#main {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    background-image: url('../game/images/linea-papel_77417-515.avif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}
.container {
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 40%;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border:0.5px solid rgba(0, 0, 0, 0.3);
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#noCuent{
    font-size:small;
}
#noCuent a{
    color: #4caf50;
}
#noCuent a:hover{
    color: #285c29;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: fixed; /*Para que esté fijo aunque bajemos la ventana*/
    width: 98%;
    margin: 0 auto;
    margin-left: 1vh;
    height: 7vh;  
    background-color: rgb(0, 0, 0);
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 1vh ;
}
nav li{
    list-style-type: none;
    display: inline; /*Para ver los elementos en línea*/
}
nav li a{
    font-size: 1em;
    text-decoration: none;
    line-height: 5vh;
    padding: 1vh;
    color: rgb(255, 255, 255);
    background-color: none;
}
nav li a:hover{
    color: white;
    background-color: black;
}
#userButton{
    background-color: none;

}
#cabeza{
    margin: 1vh;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    position:sticky;
}
#myTab{
    margin: 2vh;
}
.tab-content{
    margin: 3vh;
}
#btnAnadir button{   
    text-decoration: none;
    color: white;
}
.btnEliminarPal,.btnEliminarCat,.btnEliminarUser{
    background-color: rgb(167, 47, 47);
}
.btnEliminarPal:hover,.btnEliminarCat:hover,.btnEliminarUser:hover{
    background-color: rgb(99, 27, 27);
}

#sub{
    text-align: center;
    font-size: smaller;
}
