<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>not</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>

    <div class="container mt-5" id="app">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Formulario de Datos</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="userId" class="form-label">User ID:</label>
                            <div class="mb-3">
                                <select
                                    class="form-select form-select-lg"
                                    name="userId"
                                    id="user"
                                >
                                    <option disabled>Select</option>
                                    <option value="0">Juanma</option>
                                    <option value="1">Javi</option>
                                    <option value="2">Andrew</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <label for="id" class="form-label">ID:</label>
                            <input type="text" class="form-control" id="id" name="id" v-model="id" required>
                        </div>
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" v-model="titulo" required>
                        </div>
                        <div class="mb-3">
                            <label for="contenido" class="form-label">Contenido:</label>
                            <textarea class="form-control" id="contenido" name="contenido" rows="4" v-model="contenido"
                                required></textarea>
                        </div>
                        <button class="btn btn-primary" @click="enviar">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;" v-if="visible">
        <div class="card-body">
            <h5 class="card-title" v-model="titulo"></h5>
            <p class="card-text" v-model="contenido"></p>
           
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                userId: '',
                visible:false,
            },
            methods: {
                enviar() {
                    
                }
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
